@import './font';
@import './typography';

.flex {
    display: flex;
}

.icon {
    &.outbound {
        color: #aaa;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -1px;
        margin-left: 1px;
    }

    &.breadcrumb {
        margin-right: 1.5rem;
        cursor: pointer;
    }
}

.custom-block {
    padding: 1.5rem;
    border-left-width: .2rem !important;
    border-left-style: solid;
    margin: 1rem 0;

    &.warning {
        background-color: rgba(255, 229, 100, .3);
        border-color: #e7c000;
        color: #6b5900;
    }

    &.tip {
        background-color: #f3f5f7;
        border-color: #42b983;
    }
}