/* ==========================================================================
   Variables
   ========================================================================== */

$font-primary: 'Source Sans Pro',
Lucida Grande,
sans-serif;
$blue: #00afef;
$white: #ffffff;
$black: #34495e;
$grey: #eeffff;
$yellow: #b29400;